<h1>Dashboard</h1>

<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Total de pagamentos</td>
            <td class="text-end"><%= number_to_currency(@dashboard_service.total_payments, unit: 'R$', precision: 2, delimiter: '.', separator: ',') %></td>
          </tr>
          <tr>
            <td>Total de débitos</td>
            <td class="text-end"><%= number_to_currency(@dashboard_service.total_debts, unit: 'R$', precision: 2, delimiter: '.', separator: ',') %></td>
          </tr>
          <tr>
            <td>Saldo</td>
            <td class="text-end"><%= number_to_currency(@dashboard_service.amount, unit: 'R$', precision: 2, delimiter: '.', separator: ',') %></td>
          </tr>
        </table>

        <h5 class="card-title">Maior saldo</h5>
        <table class="table">
          <tr>
            <td><%= @dashboard_service.top_person.name %></td>
            <td class="text-end"><%= number_to_currency(@dashboard_service.top_person.amount, unit: 'R$', precision: 2, delimiter: '.', separator: ',') %></td>
          </tr>
        </table>

        <h5 class="card-title">Menor saldo</h5>
        <table class="table">
          <tr>
            <td><%= @dashboard_service.bottom_person.name %></td>
            <td class="text-end"><%= number_to_currency(@dashboard_service.bottom_person.amount, unit: 'R$', precision: 2, delimiter: '.', separator: ',') %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Associados</h5>
        <%= pie_chart @dashboard_service.active_people_pie_chart %>
      </div>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meus últimos cadastros</h5>
        <ul>
          <% @dashboard_service.my_people.each do |person| %>
            <li><%= person.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Últimos grandes débitos lançados</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nome do Associado</th>
              <th class="text-end">Valor</th>
            </tr>
          </thead>
          <tbody>
            <% @dashboard_service.last_large_debts.each do |debt| %>
              <tr>
                <td><%= debt.person ? debt.person.name : 'Desconhecido' %></td>
                <td class="text-end"><%= number_to_currency(debt.amount, unit: 'R$', precision: 2, delimiter: '.', separator: ',') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Últimos débitos</h5>
        <%= line_chart @dashboard_service.last_debts %>
      </div>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Últimos pagamentos</h5>
        <%= line_chart @dashboard_service.last_payments %>
      </div>
    </div>
  </div>
</div>
